.background {
    background-repeat: no-repeat;
    background-image: url(./assets/images/background.png);
    background-blend-mode: color #00000000;
    background-position: center;
    background-size: auto;
}

.jumbotron {
    background-color: #fdfbfb
}

.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto {
    position: relative;
    width: 100%;
    padding-right: 0px;
    padding-left: 15px;
}


nav{
    background-color:#fdfdff
}

nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: #91640f;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: wheat;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

@-webkit-keyframes shift {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}

.bg-dark {
    background-color: white!important;
    height: 375px;
}

.background-picture {
    background-image: url(./assets/images/background.jpg);
}

.font-color-1 {
    -webkit-text-fill-color:black;
}

.font-color-2 {
    -webkit-text-fill-color: #f05147;
}

.font-color-2:hover {
    -webkit-text-fill-color: #fdfbfb;
}

.onepixel {
    border-top: 5px solid #000000;
    border-bottom: 1px solid #000000;
    height: 0px;
    margin-bottom: 20px;
    opacity: 0.5;
}

.bg-color {
    background-color: whitesmoke;
}

.font-type {
    font-family: "Patua One", cursive;
    text-align: right;
}

.font-type-2 {
    /* font-family: "Fredoka One", cursive; */
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Noto Sans', sans-serif; */
    font-family: 'Baloo Paaji', cursive;
    
}

.height {
    height: 100px;
}

.h4,
h4 {
    font-size: 1.5rem;
    margin: 20px;
}
.display-4{
    font-size: 50px
}

.flex {
    display: flex;
    justify-content: space-between;
}

.text-1 {
    font-size: 40px;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 2px black;
}

.text-2 {
    font-size: 15px;
    color: black;
}

.btn-color {
    background: rgb(162, 231, 0);
    -webkit-text-fill-color: #000000;
}

.btn-group-lg>.btn,
.btn-lg {
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 0.3rem;
    margin: 20px;
}

.text-color {
    color: rgb(0, 0, 0);
}

.text-border {
    -webkit-text-stroke: 2px #ffffff;
}

.text-border-2 {
    -webkit-text-stroke: 0px #ffffff;
}

.stat div {
    width: 170px;
    border: 4px solid #f05147;
    margin: 0 auto;
    border-radius: 40px;
    font-size: 28px;
    padding: 10px;
}

.stat:hover {
    border: 4px solid #fdfbfb;
    background-color: #f05147;
}

@media (min-width: 768px) .mt-md-5,
.my-md-5 {
    margin-top: 0rem !important;
}

.p-3 {
    padding: 1rem !important;
}

.mb-2,
.my-2 bg-color {
    margin-bottom: -3.5rem !important;
}

.footer-1 {
    background-color: #25799D;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.padding {
    padding: 15px;
}

.footer-2 {
    text-align: center;
    background-color: whitesmoke;
    font-family: 'Fredoka One', cursive;
    padding: 5px;
    -webkit-text-fill-color: #000000;
}

.footer footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

@media footer (min-width: 768px) .pt-md-5,
.py-md-5 {
    padding-top: 0rem!important;
}

.center-align {
    text-align: center;
    background-color:whitesmoke
}

.monas-icon {
    margin-top: 45px;
    width: 60px;
    height: 75px;
}


/* @media (prefers-color-scheme: dark) {

    } */