.font-type {
    font-family: "Patua One", cursive;
    text-align: right;
}



nav.shift ul li a {
    position: relative;
    z-index: 1;
}

nav.shift ul li a:hover {
    color: #91640f;
}

nav.shift ul li a:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 100%;
    height: 1px;
    content: ".";
    color: transparent;
    background: wheat;
    visibility: none;
    opacity: 0;
    z-index: -1;
}

nav.shift ul li a:hover:after {
    opacity: 1;
    visibility: visible;
    height: 100%;
}

@-webkit-keyframes shift {
    0% {
        width: 0%;
        height: 1px;
    }
    50% {
        width: 100%;
        height: 1px;
    }
    100% {
        width: 100%;
        height: 100%;
        background: #333;
    }
}


/* footer content */

.footer-1 {
    background-color: #25799D;
    padding: 25px;
    display: flex;
    justify-content: center;
}

.padding {
    padding: 15px;
}

.footer-2 {
    text-align: center;
    background-color: #343a40;
    font-family: 'Fredoka One', cursive;
    padding: 5px;
    -webkit-text-fill-color: #000000;
}

.footer footer {
    padding-top: 0rem;
    padding-bottom: 0rem;
}

@media footer (min-width: 768px) .pt-md-5,
.py-md-5 {
    padding-top: 0rem!important;
}

.jumbotron {
    text-align: center;
    -webkit-text-fill-color: #000000;
}

.bg-dark {
    background-color: #343a40!important;
}

.mb-2,
.my-2 bg-color {
    margin-bottom: -3.5rem !important;
}

.flexing {
    display: flex;
    justify-content: center;
}

.text-primary {
    color: #5a6877!important;
}

.col {
    -ms-flex-preferred-size: 0;
    flex-basis: 0;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
    text-align: center;
    color: #212222!important;
}

.center-align {
    text-align: center;
}

.monas-icon {
    margin-top: 45px;
    width: 60px;
    height: 75px;
}


/* footer content */